@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @applay bg-white text-black;
}
body.dark {
  @apply bg-gray-900 text-white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937;
}
